<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="AddOn.Property.FontawesomeDropdown" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="AddOn.Property.FontawesomeDropdown" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
  <dojo>
    <paths>
      <add name="addon-property-fontawesomedropdown" path="ClientResources/scripts" />
    </paths>
  </dojo>
</module>
